/* Styles Globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

/* Navbar */
header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px 20px;
}


.navbar .logo img {
    height: 100px; /* Ajuster la taille du logo */
}

header.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

header.navbar nav ul li a.active {
    border-bottom: 2px solid #E50914;
}
.navbar .nav-right {
    display: flex;
    gap: 10px;
}

.navbar .nav-right input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.navbar .nav-right button {
    padding: 5px 10px;
    background-color: #E50914;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.navbar .nav-right button:hover {
    background-color: darkred;
}

/* User Menu */
.user-menu {
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

.user-email {
    font-size: 0.85em;
    color: #aaa;
}

.dropdown-icon {
    margin-left: auto;
    font-size: 0.8em;
    color: #aaa;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    z-index: 10;
}

.dropdown-menu li {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #333;
}

.logout-icon {
    margin-right: 5px;
    font-size: 1.2em;
    vertical-align: middle;
}

.user-menu:hover .dropdown-menu {
    display: block;
}
